:root {
  
    /*========== Colors ==========*/
    --hue: 207;
    --sat: 90%;
    --lig: 61%;
    --background-primary: #fff;
    --primary: #C7B7A3;
    --secondary:#B67352;
    --darktext:#222;
    --lighttext:#7a7a7a;

    /*========== Font and typography ==========*/
    --body-font: 'Poppins', sans-serif;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;


    /* properties */
    --transition-property-common: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform;
    --transition-duration-fast: 150ms;
    --transition-easing-ease-out: cubic-bezier(0, 0, 0.2, 1);
  }
  


  